@import "../../styles/base";

.header {
  height: 40px;
  background-color: $darkBlue;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: $white;
    text-align: center;
    padding-bottom: 2px;
    font-size: 18px;
  }
}
